.header {
  align-items: center;
  background: #ffffffaa;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #eee;
  height: 49px;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
}

.h2 {
  padding-left: 15px;
  font-size: 21px;
  font-weight: 800;
}

.nav {
  background: #fff;
  bottom: 0;
  border-top: 1px solid #eee;
  display: flex;
  height: 49px;
  position: sticky;
  width: 100%;
}

.section {
  flex: 1;
}

.article {
  border-bottom: 2px solid #eee;
  display: flex;
  padding: 10px 15px;
}

.div {
  padding-left: 10px;
  padding-right: 10px;
}

.p {
  line-height: 1.3125;
  margin: 0;
}

.date {
  font-weight: 100;
  color: #555;
  font-size: 14px;
}

.link {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
}

.link:hover {
  background: radial-gradient(#0099ff22 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
}
